body, html {
    width: 100%;
    height: 100%; 
}

.editor { 
    width: 60%;
    height: 100%;
}

iframe.console {
    width: 40%;
    height: 100%;
    border: none;
}

.editor button {
    padding: 0 10px;
    height: 30px;
    line-height: 16px;
}
.editor select, .editor button {
    margin: 5px;
}
.editor select {
    height: 30px;
}

#home, .height100 {
    height: 100%;
}

/* The console container element */
#console {
    width: 100%;
    height: 100%;
    background-color: black;
}
#console, .editor {
    float: left;
    display: inline-block;
    position: relative;
}
#editor {
    width: 100%;
    height: calc(100% - 41px);
}

/* The inner console element. */
.jqconsole {
    padding: 10px;
}

/* The cursor. */
.jqconsole-cursor {
    background-color: gray;
}

.jqconsole-header {
    color: gray;
}

/* The cursor color when the console looses focus. */
.jqconsole-blurred .jqconsole-cursor {
    background-color: #666;
}

/* The current prompt text color */
.jqconsole-prompt {
    color: #0d0;
}

/* The command history */
.jqconsole-old-prompt {
    color: #0b0;
    font-weight: normal;
}

/* The text color when in input mode. */
.jqconsole-input {
    color: #dd0;
}

/* Previously entered input. */
.jqconsole-old-input {
    color: #bb0;
    font-weight: normal;
}

/* The text color of the output. */
.jqconsole-output {
    color: white;
}
.jqconsole-output-error {
    color: red;
}
.jqconsole-output-undef {
    color: gray;
}
